       
         <!-- Inicio el header -->
    <header class="header">
        <!-- Elementos del header -->

        <!-- Logo -->
        <!-- Navegacion Principal -->
        <a href="#"> <img class="header__logo" src="images/lgo_header.png" alt=""></a>

        <nav class="header__list listnav">
            <a href="#banner" class="listnav__a">NEW RELEASES</a>
            <a href="#advertising" class="listnav__a">SHOP</a>
            <a href="#presentation" class="listnav__a">KNOW</a>
            <a href="#characteristic" class="listnav__a">FOR YOU</a>
            <a href="#gallery" class="listnav__a">GALLERY</a>
        </nav>

        <button class="header__btn">
            <img src="images/menu.png" alt="">
        </button>

    </header>
    <!-- Cierro header -->
            
        
     <!--Seccion de la tienda de productos-->
        <section class="store" id="sec-store">

     <!--Seccion de filtros-->

        <section class="tienda">

            <h2 >FILTER BY ></h2>
            <article class="filter__store">


                <ul class="filter__list">
                
                  <li class="filter__item"><h2 class="filter__tittle">MODEL</h2></li>
                  <li class="filter__item"> SERIES</li>
                  <li class="filter__item"> NIKE  </li>
                  <li class="filter__item"> Hèrmes </li>

                  <li class="filter__item"><h2 class="filter__tittle">BAND TYPE</h2></li>
                  <li class="filter__item"> Sport</li>
                  <li class="filter__item">Leather </li>
                  <li class="filter__item">Steel </li>

                </ul>

                <ul class="filter__list--colors">
                    <h2 class="filter__tittle">COLOR</h2>
                    <span class="filter__item"></span> 
                    <span class="filter__item"></span>
                    <span class="filter__item"></span>             
                    <span class="filter__item"></span>      
                    <span class="filter__item"></span>
                    <span class="filter__item"></span> 
                    <span class="filter__item"></span>
                    <span class="filter__item"></span>              
                        

                </ul>


            </article>
        </section>
            <div class="store__products">

                
                {{#each listaProductos}}

                 <div class="producto" >

                    <div class="producto__banner" onclick="location.href='/tienda/prod/{{this.numero}}';" style=" background-image: url(/imagenes/{{this.imagenes.[0]}}"></div>

                    <div class="producto__info" >
                    <p class="producto__info--item producto__modelo">{{this.modelo}}</p>
                    <p class="producto__info--item producto__nombre">{{this.nombre}}</p>

                    <div class="producto__contBtn">
                     <p class="producto__info--item producto__precio">${{this.precio}}</p>
                      <button class="producto__info--item producto__btn">ADD TO BAG</button>
                </div>
                     </div>
                   
                    
                  
                  
                </div>

                 {{/each}}



                

            </div>


        </section>