

<img class="individual__image" src="/images/{{this.images.[0]}}">
        <!-- Detalles del producto -->
        <section class="individual__top">
            <h1 class="individual__header"> {{this.name}}</h1>
            <h2 class="individual__header"> {{this.category}}</h2>
            <p class="individual__header">{{this.colors}}</p>
            <h1 class="individual__header">{{this.price}}</h1>
        </section>
        <button class="product__Like">
            <img src="/images/like.png" alt="">
        </button>
        <button class="product__buy">
            <img src="/images/tienda.png" alt="">
        </button>