<section class="store">


    {{#each productsList}}

    <a href="/store/{{this.name}}" class="product">
        <!-- Detalles del producto -->

        {{!-- Imagen del producto --}}
        <section class="product__image">
        <img src="/images/{{this.images.[0]}}">
        </section>

        {{!-- Informacion del producto  --}}
        <section class="product__top top">
            <article class="top__right">
                <h1 class="product__header"> {{this.name}}</h1>
                <h2 class="product__header"> {{this.category}}</h2>
                <p class="product__header">{{this.colors}}</p>
            </article>
            <article class="top__left">
                <h1 class="product__header">{{this.price}}</h1>
            </article>
        </section>
    </a>


    {{/each}}
</section>